.my-footer {
    height: 5em;
    padding: 1em;
    background-color: #f9dc9d;
    margin-top: 2em;
    color: #000053;
    font-size: 180%;
}

.redText {
    color: red;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 100000;
}